* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */

input,
button,
select,
textarea {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --line-height: 57px;
    display: inline-block;
    min-width: 173px;
    padding: 0 16px;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: #143c3c;

    color: #fff;
    text-align: center;

    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(var(--line-height) - 1.5px); /* 155.556% */
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.header-fixed {
    position: sticky;
    top: -15px;
    z-index: 2;
}

.section-desc {
    position: relative;
    padding-left: 46px;
    color: #152427;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.section-desc::before {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 9px;
    content: "";
    width: 25px;
    height: 1px;
    background: #152427;
}

/* Header */

.header {
    background: #ffffff;
    padding-top: 28px;
    font-family: "Public Sans", sans-serif;
}

.header__body {
    padding-bottom: 13px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
            90deg,
            #fff 0%,
            #dddcdc 51.09%,
            rgba(212, 212, 212, 0) 99.68%
        )
        1;
}

.header__nav {
    margin-left: auto;
}

.header__list {
    display: flex;
    column-gap: 8px;
}

.header__link {
    position: relative;
    padding: 4px 15px;
    color: #575d5e;
    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    transition: 0.25s;
}

.header__link:hover {
    color: #152427;
    text-shadow: 1px 0px 0px #152427;
}

.header__link-active {
    text-shadow: 1px 0px 0px #152427;
    color: #152427;
}

.header__link-active::before {
    position: absolute;
    display: inline-block;
    left: 16px;
    bottom: -29px;
    content: "";
    width: 16px;
    height: 2px;
    background: #143c3c;
}

.header__btn-sign-up {
    margin-left: 73px;
}

/* Hero */

.hero {
    font-family: "Public Sans", sans-serif;
    padding: 60px 0 165px;
}

.hero-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__heading {
    max-width: 368px;
    color: #152427;
    /* Heading/H2 50px Extra bold */
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__desc {
    margin-top: 20px;
    color: #575d5e;
    max-width: 341px;
    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56; /* 155.556% */
}

.hero-cta {
    margin-top: 42px;
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.hero-cta__watch {
    display: flex;
    align-items: center;
    column-gap: 9px;
    border: none;
    background: transparent;
}

.hero-cta__watch:hover {
    cursor: pointer;
}

.hero-cta__watch:hover .hero-cta__circle {
    transform: rotate(496deg);
    border-color: #83a17d transparent transparent #83a17d;
}

.hero-cta__watch:hover .hero-cta__icon {
    background: #143c3c;
}

.hero-cta__watch:hover .hero-cta__icon-play {
    transform: rotate(-16deg);
}

.hero-cta__watch:hover .hero-cta__title {
    color: #83a17d;
}
.hero-cta__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border-color: #143c3c transparent transparent #143c3c;
    border-style: solid;
    border-width: 4px;
    transform: rotate(316deg);
    transition: 0.25s;
}

.hero-cta__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
    transition: 0.25s;
}

.hero-cta__icon-play {
    color: #fef6fb;
    transform: rotate(45deg);
    transition: 0.25s;
}

.hero-cta__title {
    color: #152427;
    text-align: center;

    /* Paragraph/h3 18px bold */
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    transition: 0.25;
}

.hero__media {
    position: relative;
    width: 56.6%;
    height: 466px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.hero__media::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    bottom: 4px;
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__img {
    width: 100%;
    height: 100%;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    position: relative;
    margin-top: 77px;
}

.hero__deco {
    position: absolute;
}

.hero__deco-1 {
    top: -32px;
    left: -172px;
}

.hero__deco-2 {
    left: -218px;
    top: -31px;
}

.hero__deco-3 {
    bottom: -145px;
    right: 46px;
}

.hero__deco-4 {
    bottom: -120px;
    right: 3px;
}

/* Clients */

.clients {
    margin: 42px 0;
}

.clients__body {
    padding: 56px 121px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 100.5px;
    background: #e2eddf;
}

.clients-logo,
.clients-logo__box {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    border-radius: 10px;
    transition: 0.25s;
}

.clients-logo:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.clients-logo__google {
    color: #143c3c;
    font-family: "Poppins", sans-serif;
    font-size: 3.1rem;
    font-weight: 500;
}

.clients-logo__slack {
    color: #143c3c;
    font-family: "Poppins", sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
}

.clients-logo__agworld {
    margin-left: 11px;
    color: #163c35;
    font-family: "Poppins", sans-serif;
    font-size: 2.6rem;
    font-weight: 400;
}

.clients-logo__rioTinto {
    color: #143c3c;
    font-family: "Sonsie One", system-ui;
    font-size: 2.3rem;
    font-weight: 400;
}

.clients-logo__heroku {
    margin-left: 14px;
    color: #143c3c;
    font-family: "Poppins", sans-serif;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* Servicers */

.services {
    margin: 24px 0 7px;
    padding: 40px 0;
}

.services__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12px;
}

.services__heading {
    position: relative;
    width: 45.6%;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.services__heading::after {
    position: absolute;
    display: inline-block;
    width: 66px;
    height: 2px;
    content: "";
    line-height: 42px;
    background: #152427;
    bottom: 19px;
    right: 103px;
    margin-left: -5px;
}

.services-control {
    display: flex;
    column-gap: 17px;
    margin-bottom: 9px;
    margin-right: 73px;
}

.services-control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    background: #e2eddf;
    color: #152427;
    transition: 0.25s;
}

.services-control__btn:hover {
    background: #143c3c;
    color: #ffffff;
    cursor: pointer;
}

.services__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.services-item {
    border-radius: 20px;
    background: #fff;
    transition: 0.25s;
    border-radius: 20px;
    overflow: hidden;
}
.services-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services-item__img {
    width: 370px;
    height: 318px;
    overflow: hidden;
}

.services-item__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: 0.25s;
}

.services-item:hover .services-item__thumb {
    transform: scale(1.07);
}

.services-item__body {
    padding: 24px 18px;
}

.services-item__heading {
    color: #152427;

    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.services-item__heading:hover {
    text-decoration: underline;
    cursor: pointer;
}

.services-item__desc {
    margin-top: 18px;
    color: #7d8188;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* About */

.about {
    padding: 110px 0 78.5px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__media {
    margin-top: 13px;
    position: relative;
    height: 480px;
}

.about__img {
    display: flex;
    column-gap: 21px;
}

.about__thumb {
    width: 286px;
    height: 480px;
    flex-shrink: 0;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
}

.about__thumb:first-child {
    margin-top: 77px;
}

.about-summary {
    font-family: "Public Sans", sans-serif;
    position: absolute;
    bottom: -70px;
    right: -9px;
    padding: 19px 23px 12px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-summary__heading {
    color: #152427;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about-summary__desc {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1; /* 140% */
}

.about-summary__status {
    margin-top: 10px;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}
.about-summary__process {
    margin-top: 3px;
    position: relative;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}
.about-summary__process::before {
    position: absolute;
    display: inline-block;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about-summary__loading {
    color: #152427;
    text-align: end;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-summary__icon {
    margin-top: 3px;
}

.about-summary-team {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-summary-team__desc {
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-summary-team__list {
    display: flex;
    align-items: center;
}

.about-summary-team-item {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
    overflow: hidden;
}

.about-summary-team-item:not(.about-summary-team-item:first-child) {
    margin-left: -6px;
}

.about-summary-team-item__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content {
    width: 42.5%;
}

.about__heading {
    margin-top: 20px;
    width: 483px;
    color: #152427;

    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.about__desc {
    margin-top: 11px;
    color: #7d8188;

    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.about__list {
    margin-top: 16px;
}

.about-item {
    margin-bottom: 18px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    column-gap: 24px;
    border-bottom: 1px solid #83a17d;
}

.about-item__percent {
    color: #152427;

    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.about-item__desc {
    width: 364px;
    height: 52px;
    color: #7d8188;

    /* Paragraph/h6 14px medium */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* Process */
.process {
    padding: 79px 0 148px;
}

.process__inner {
    position: relative;
    margin-top: 36px;
}

.process__heading {
    position: relative;
    margin-top: 20px;
    width: 477px;
    color: #152427;

    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.process__heading::after {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: 18px;
    right: -9px;
    width: 66px;
    height: 2px;
    background: #152427;
}

.process-item__thumb {
    position: absolute;
    top: -36px;
    right: 92px;
    width: 450px;
    height: 444px;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    align-items: center;
    display: flex;
    height: 185px;
    padding: 46px 20px 25px;
    transition: 0.25s;
}

.process-item::after {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    transition: 0.25s;
}

.process-item__number {
    width: 109px;
    color: #143c3c;

    /* Heading/H1 72px bold */
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
}

.process-item__inner {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 176px;
    margin: 0 175px 0 47px;
}

.process-item__title {
    color: #152427;
    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.process-item__more {
    /* display: none; */
    visibility: hidden;
}

.process-item__desc {
    width: 572px;
    color: #7d8188;

    /* Paragraph/h2 18px medium */
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.process-item__more:hover {
    text-decoration: underline;
}

.process-item:hover {
    border-radius: 33px;
    background: #e2eddf;
}

.process-item:hover .process-item__more {
    visibility: visible;
    margin-top: 22px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
    transition: 0.45s;
}

.process-item:hover::after {
    display: none;
}
